################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToastNotification/.vs/ToastNotification/v16/Server/sqlite3
/ToastNotification/ToastNotification/obj
/ToastNotification/ToastNotification/bin
/ToastNotification/MyToastNotification/obj
/ToastNotification/MyToastNotification/bin
